<div class="buttons">
    <app-button [operat]="_0" class="item-0"></app-button>
    <app-button [operat]="_1" class="item-1"></app-button>
    <app-button [operat]="_2" class="item-2"></app-button>
    <app-button [operat]="_3" class="item-3"></app-button>
    <app-button [operat]="_4" class="item-4"></app-button>
    <app-button [operat]="_5" class="item-5"></app-button>
    <app-button [operat]="_6" class="item-6"></app-button>
    <app-button [operat]="_7" class="item-7"></app-button>
    <app-button [operat]="_8" class="item-8"></app-button>
    <app-button [operat]="_9" class="item-9"></app-button>
    <app-button [operat]="clear" class="item-clear"></app-button>
    <app-button [operat]="plus" class="item-plus"></app-button>
    <app-button [operat]="minus" class="item-minus"></app-button>
    <app-button [operat]="equal" class="item-equal"></app-button>
    
</div>