<div class="buttons">
    <app-button [num]="0" class="item-0"></app-button>
    <app-button [num]="1" class="item-1"></app-button>
    <app-button [num]="2" class="item-2"></app-button>
    <app-button [num]="3" class="item-3"></app-button>
    <app-button [num]="4" class="item-4"></app-button>
    <app-button [num]="5" class="item-5"></app-button>
    <app-button [num]="6" class="item-6"></app-button>
    <app-button [num]="7" class="item-7"></app-button>
    <app-button [num]="8" class="item-8"></app-button>
    <app-button [num]="9" class="item-9"></app-button>
</div>