<div class="buttons">
    <app-button [operat]="_0" class="item-0 grid-item"></app-button>
    <app-button [operat]="_1" class="item-1 grid-item"></app-button>
    <app-button [operat]="_2" class="item-2 grid-item"></app-button>
    <app-button [operat]="_3" class="item-3 grid-item"></app-button>
    <app-button [operat]="_4" class="item-4 grid-item"></app-button>
    <app-button [operat]="_5" class="item-5 grid-item"></app-button>
    <app-button [operat]="_6" class="item-6 grid-item"></app-button>
    <app-button [operat]="_7" class="item-7 grid-item"></app-button>
    <app-button [operat]="_8" class="item-8 grid-item"></app-button>
    <app-button [operat]="_9" class="item-9 grid-item"></app-button>
    <app-button [operat]="clear" class="item-clear grid-item"></app-button>
    <app-button [operat]="plus" class="item-plus grid-item"></app-button>
    <app-button [operat]="minus" class="item-minus grid-item"></app-button>
    <app-button [operat]="equal" class="item-equal grid-item"></app-button>
    <app-button [operat]="divide" class="item-divide grid-item"></app-button>
    <app-button [operat]="multiply" class="item-multiply grid-item"></app-button>
</div>